<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="sqlserver-odbcdriver" />
    <package id="sqlserver-cmdlineutils" />
    <package id="microsoftazurestorageexplorer"/>
    <package id="powerbi"/>
    <package id="sql-server-management-studio"/>
    <package id="visualstudio2019community"/>
</packages>